please update the synopsis in your opam file

I was confused and alarmed to discover an RFC822 handler in my dependency cone. I'm still confused and alarmed that I have a less-obsolete RFC's code in my dependency cone, but I understand it a little better.

What is your project which depends (transitively) on `unstrctrd`? The goal of this library is to handle correctly the _folding whitespace_ which is described by the RFC822. However, RFC2822 & RFC5822 or the Debian package format (or some others stuffs) use the same format - it's a pretty old one.